.grid-item {
    width: 100%;
    height: 100%;
}

.todos {
    overflow: hidden;
    justify-content: center;

    .title-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .text-field-wrapper {
        display: flex;
        justify-content: center;
    }

    
}

.list {
    .list-option-wrapper {
        display: flex;
        justify-content: end;
        margin-right: 10px;
    }
}